<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Admin list:</strong>
            </div>
            <div class="card-body">
              <div class="row justify-content-end">
                <div class="col-lg-4 input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                  <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Search by name">
                </div>
              </div>
              <div class="row">&nbsp;</div>
              <table class="table table-bordered table-striped ">
                <thead>
                <tr>
                  <th>Employee ID</th>
                  <th>Name</th>
                  <th>DOB</th>
                  <th>ID number</th>
                  <th>Phone number</th>
                  <th>Email</th>
                  <th>Account Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>10000</td>
                  <td>Vishnu Serghei</td>
                  <td>2012/01/01</td>
                  <td>201201010000000</td>
                  <td>10081234567</td>
                  <td>admin@gmail.com</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>

      <!--View update admin details-->
      <div class="card">
        <div class="card-header">
          <strong>Admin:</strong>
        </div>
        <div class="card-body">
          <form #form='ngForm' (ngSubmit)='submitForm(form.value)' enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="title-select">Title</label>
              <div class="col-md-2">
                <select id="title-select" name="title" class="form-control" ngModel required>
                  <option value="0">Bind to DB</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="initials-txt">Initials</label>
              <div class="col-md-6">
                <input type="text" id="initials-txt" name="initials" class="form-control" placeholder="Initials e.g K.C.J" ngModel required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="full-name-txt">Full name</label>
              <div class="col-md-6">
                <input type="text" id="full-name-txt" name="full-name" class="form-control" placeholder="Full name" ngModel required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="last-name-txt">Last name</label>
              <div class="col-md-6">
                <input type="text" id="last-name-txt" name="last-name" class="form-control" placeholder="Last name" ngModel required>
              </div>
            </div>

            <div class="form-group row"></div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="gender-select">Gender</label>
              <div class="col-md-2">
                <select id="gender-select" name="gender" class="form-control">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="race-select">Race</label>
              <div class="col-md-2">
                <select id="race-select" name="gender" class="form-control">
                  <option value="Black">Black</option>
                  <option value="White">White</option>
                  <option value="Colored">Colored</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="birth-date-input">Birth date</label>
              <div class="col-md-2">
                <input class="form-control" id="birth-date-input" type="date" name="birth-date" placeholder="date">
              </div>
            </div>

            <div class="form-group row"></div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="nationality-select">Nationality</label>
              <div class="col-md-2">
                <select id="nationality-select" name="nationality" class="form-control" [(ngModel)]="nationality">
                  <option value="RSA">RSA</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
            <div class="form-group row" [hidden]="nationality=='RSA' || nationality==undefined">
              <label class="col-md-2 col-form-label" for="other-nationality-txt">Other nationality</label>
              <div class="col-md-6">
                <input type="text" id="other-nationality-txt" name="other-nationality" class="form-control" placeholder="nationality" ngModel required>
              </div>
            </div>
            <div class="form-group row" [hidden]="nationality=='Other'">
              <label class="col-md-2 col-form-label" for="id-number-txt">ID Number</label>
              <div class="col-md-6">
                <input type="email" id="id-number-txt" name="id-number" class="form-control" placeholder="ID number" autocomplete="email">
              </div>
            </div>
            <div class="form-group row" [hidden]="nationality=='RSA' || nationality==undefined">
              <label class="col-md-2 col-form-label" for="passport-number-txt">Passport Number</label>
              <div class="col-md-6">
                <input type="text" id="passport-number-txt" name="passport-number" class="form-control" placeholder="Passport Number" ngModel required>
              </div>
            </div>

            <div class="form-group row"></div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="email-address-txt">Email Address</label>
              <div class="col-md-6">
                <input type="email" id="email-address-txt" name="email-address" class="form-control" placeholder="Email Address" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="phone-number-txt">Phone number</label>
              <div class="col-md-6">
                <input type="email" id="phone-number-txt" name="phone-number" class="form-control" placeholder="Phone Number" autocomplete="email">
              </div>
            </div>

            <div class="form-group row"></div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="home-address-no-txt">Physical Address</label>
              <div class="col-md-6">
                <input type="email" id="home-address-no-txt" name="home-address-no" class="form-control" placeholder="House no or Unit no." >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="home-address-street-txt"></label>
              <div class="col-md-6">
                <input type="email" id="home-address-street-txt" name="home-address-street" class="form-control" placeholder="Street address, Building name e.t.c">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="home-address-city-txt"></label>
              <div class="col-md-6">
                <input type="email" id="home-address-city-txt" name="home-address-city" class="form-control" placeholder="City e,g Pretoria">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="home-address-code-txt"></label>
              <div class="col-md-6">
                <input type="email" id="home-address-code-txt" name="home-address-code" class="form-control" placeholder="City code">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="home-address-province-select"></label>
              <div class="col-md-2">
                <select id="home-address-province-select" name="home-address-province" class="form-control">
                  <option value="Gauteng">Gauteng</option>
                </select>
              </div>
            </div>
            <div class="">
              <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
</div>
