<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Subjects:</strong>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped ">
                <thead>
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Average</th>
                  <th>Action</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Math</td>
                  <td>Mathematics</td>
                  <td>
                    <span class="badge badge-success">Good</span>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-link">View marks</button>
                  </td>
                  <td>
                    <span class="badge badge-danger">Inactive</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Mathematics: average 85%</strong>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped ">
                <thead>
                <tr>
                  <th>Learner ID</th>
                  <th>Class</th>
                  <th>Level</th>
                  <th>Grade %</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    10000
                  </td>
                  <td>
                    10D
                  </td>
                  <td>
                    7
                  </td>
                  <td>
                    <input type="text" id="cas-weigh-txt" name="cas-weigh" class="form-control" placeholder="Grade in %" ngModel required>
                  </td>
                </tr>
                </tbody>
              </table>
              <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>
</div>
