// Here you can add other styles

/**.sidebar .nav-link:hover {
  background: #f86c6b;
}

a {
  color: #f86c6b;
}*/

.btn-link {
  padding: 0rem 0rem;
}

.table td {
  padding: 0.5rem;
}

.badge {
  display: inline-block;
  padding: 0.5em 0.4em;
}

.icon-plus {
  color: #4dbd74;
}

.icon-close {
  color: #f86c6b;
}

.badge {
  padding: 1.0em 0.8em;
}
